html, body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
a {
  color: #00b7ff;
}
.menu-wrapper{
    display:flex;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.menu-wrapper a{
    margin-right: 100px;
}

.main{
    padding: 50px;
}
.content{
  min-height: 100%;  
  margin-bottom: -60px; 
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  height: 60px; 
}
.footer {  
  background-color: #efefef;
  text-align: center;
  padding-top: 20px;
}
.product{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor:pointer;
}