doctype html
html
  head
    title= header ? ("CRM LAB 2 - " + header) : "CRM LAB 2"    
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css", integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi", crossorigin="anonymous")    
    link(rel='stylesheet', href='/stylesheets/style.css')      
  body    
    block content
    div#content
    script(src='/dist/index.js') 
    div(class="footer") Detta är ingen riktigt butik, köp inget   
